#svg {
  display: block;
  width:250px;
}

.map-tooltip {
  position: absolute;
  text-align: center;
  z-index: 1000;
  color: black;
  width: 275px;
  height: 37px;
  padding: 2px;
  font: 12px sans-serif;
  background: pink;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#map { width: 100%; height: 600px; }

.line-chart-div1{
width:50%;
padding: 15px;
}

.line-chart-div2{
width:50%;
padding: 15px;
}
.map-border {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

.map-border:hover {
  fill: brown;
  fill-opacity: .7;
}

.header {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: blueviolet;
}

.line-chart-div{
width: 50%; 
height: 400px; 
position: relative;
}

.dataviz{
width:100%;
/*height: 100vh;*/
flex-direction: row;
display: flex;
justify-content: space-between;
}

.dataviz-1{
display: flex;
justify-content: space-around;
width: 100%;
position: relative;
height: 80%;
flex-direction:column;
}

.dataviz-2{
display: flex;
justify-content: space-between;
width: 60%;
position: relative;
flex-direction:column;
gap: 10px;
}

.separator{
display: flex;
justify-content: space-between;
width: 100%;
height: 25px;
position: center;
top: 50%;
}

.objecttable {
border-collapse: collapse;
}


.table {
--bs-table-color: var(--bs-gray-100);
--bs-table-bg: var(--bs-gray-100);
--bs-table-border-color: transparent;
}
.overlay {
fill: none;
pointer-events: all;
}
.chart-tooltip {                                                        /* NEW */
background: #eee;                                               /* NEW */
box-shadow: 0 0 5px #999999;                                    /* NEW */
color: #333;                                                    /* NEW */
display: none;                                                  /* NEW */
font-size: 12px;                                                /* NEW */
left: 400px;                                                    /* NEW */
padding: 10px;                                                  /* NEW */
position: absolute;                                             /* NEW */
text-align: center;                                             /* NEW */
top: 500px;                                                      /* NEW */
width: 15%;                                                    /* NEW */
z-index: 10;                                                    /* NEW */
}     

.line {
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}













body {
margin: 20px 50px;
height: 100%;
}

div#loc{
  border: black solid 1px;
  margin-top: 50px;
  border-radius: 15px;
}

div#param{
  border: black solid 1px;
  margin-top: 100px;
  border-radius: 15px;
}

div#period{
  border: black solid 1px;
  margin-top: 100px;
  border-radius: 15px;
}

div#result{
  border: black solid 1px;
  margin-top: 100px;
  border-radius: 15px;
}

button.zoom{
  padding-left: 25px;
  padding-right: 25px;
  width: 250px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  float: right;
}

select#select-station {
  width: 250px;
  height: 30px;
  font-size: 16px;
  margin-bottom: 25px;
  cursor: pointer;
  float: left;
}

div#column1 {
  float: left;
  width: 25%;
  height: 300px;
}

div#column2 {
  width: 25%;
  float: left;
  height: 300px;
}

div#column3 {
  width: 25%;
  float: left;
  height: 300px;
}

div#column4 {
  float: left;
  width: 25%;
  height: 300px;
}

div#dateStart {
  width: 50%;
  text-align: center;
  float: left;
  padding-left: 25%;
  height: 100px;
}

div#dateEnd {
  width: 50%;
  text-align: center;
  float: left;
  padding-right: 25%;
  height: 100px;
}

p {
margin: 20px 20px;
text-align: justify;
text-justify: inter-word;
}

p#date-choose{
  text-align: center;
}

input {
  cursor: pointer;
}

input.date {
  width: 250px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

code {
background: #F1F1F1;
}

a:link,
a:visited {
color: blue;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}

.header {
border-radius: 15px;
padding: 20px;
text-align: center;
background-color: rgb(75, 125, 190);
/* color: blueviolet; */
color: white;
}

.column {
float: left;
}

/* Middle column */
.column.middle {
width: 25%;
}

/* Left column */
.column.left {
width: 30%;
}

/* Right column */
.column.right {
width: 45%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column.left,
.column.middle,
.column.right {
width: 100%;
}
}

.row:after {
content: "";
display: table;
clear: both;
}

.page-header {
border-radius: 6px;
padding: 5px 15px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
}

h1.page-header {
background-color: rgb(75, 125, 190);
color: white;
}

h2 {
  text-align: center;
  padding: 25px;
  margin-bottom: 50px;
  background-color: lightblue;
  border-radius: 15px;
}

h2.page-header {
background-color: rgb(218, 229, 241);
}

button.page-header {
background-color: rgb(75, 125, 190);
color: white;
}

h3.page-header {
background-color: rgb(238, 238, 238);
}

.footer {
background-color: lightgray;
text-align: center;
padding: 10px;
height: 50px;
margin-bottom: 10px;
margin-top: 100px;
border-radius: 15px;
border: black solid 1px;
}

table {
width: 98%;
margin-left: auto;
margin-right: auto;
}

table,
th,
td {
border: 1px solid black;
border-collapse: collapse;
}

th,
td {
padding: 5px;
text-align: left;
}

table#t01 tr:nth-child(even) {
background-color: rgb(238, 238, 238);
}

table#t01 tr:nth-child(odd) {
background-color: transparent;
}

table#t01 th {
background-color: rgb(218, 229, 241);
color: black;
}

/* For the collapsible sections. */
.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

.collapsible:after {
content: '\002B';
color: white;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
background-color: #ffffff;
}














/* Tooltip container */
.tooltipParam {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipParam .tooltiptextParam {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -250px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

#column4 .tooltipParam .tooltiptextParam {
  margin-left: -450px;
}

/* Tooltip arrow */
.tooltipParam .tooltiptextParam::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#column4 .tooltipParam .tooltiptextParam::after {
  margin-left: 195px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipParam:hover .tooltiptextParam {
  visibility: visible;
  opacity: 1;
}

div#export{
  border: black solid 1px;
  margin-top: 100px;
  border-radius: 15px;
}


button.export {
  width: 100px;
  height: 100px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: black solid 1px;
  cursor: pointer;
  background-color: white;
}

div.groupExport{
  /* Centrer les boutons au center de la page */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

/* button.export#RDF {
} */

button.export#JSON {
  margin: 0 100px;
}

/* button.export#CSV {
} */

img.export {
  width: 75px;
  height: 75px;
  margin: auto;
  display: block;
}